<div id="footer">
    <div class="footer-content">
        <div class="navigation">
            <span class="title">NAVIGATION</span>
            <ul>
                <li><a href="#" class="footer-link">MEP</a></li>
                <li><a href="#" class="footer-link">BIM</a></li>
                <li><a href="#" class="footer-link">LET'S SCRUM</a></li>
                <li><a href="#" class="footer-link">BLOG</a></li>
                <li><a href="#" class="footer-link">ABOUT US</a></li>
                <li><a href="#" class="footer-link">CONTACT</a></li>
            </ul>
        </div>
        <div class="about-us">
            <span class="title">ABOUT US</span>
            <ul>
                <li><a href="#" class="footer-link">About Us</a></li>
                <li><a href="#" class="footer-link">Memberships & Certificates</a></li>
                <li><a href="#" class="footer-link">Logo and Name</a></li>
                <li><a href="#" class="footer-link">Services</a></li>
                <li><a href="#" class="footer-link">Founder</a></li>
                <li><a href="#" class="footer-link">Team</a></li>
                <li><a href="#" class="footer-link">Careers</a></li>
                <li><a href="#" class="footer-link">Imprint</a></li>
            </ul>
        </div>
        <div class="decorative-image">
            <img src="/images/bimmade.png" alt="Decorative MEP Background" />
        </div>
        <div class="imprint">
            <ul>
            <img class="logo" src="/images/simphase-transparentbg-black.png" alt="SIMPHASE Logo" />
            <li class="map-logo"><a href="#" class="address footer-link"><span>Simphase Engineering GmbH <br/>
                c/o Next Level Offices, <br/>
                Franklinstraße 11, <br/>
                10587 Berlin</span></a></li>
            <div class="footer social-media">
                <a href="#" class="sm-icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="sm-icon"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#" class="sm-icon"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#" class="sm-icon"><i class="fa-brands fa-xing"></i></a>
            </div>
            <li class="mail-logo"><a href="#" class="email footer-link">
                info@simphase.eu
            </a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <span class="copyright">ALL RIGHTS RESERVED © 2000 - 2023 SIMPASE</span>
    </div>
</div>
