<div id="header">
    <div id="left-header">
        <img src="/images/simphase-transparentbg-white.png" alt="Simphase Logo" />
    </div>
    <nav id="navbar">
        <ul>
            <li><a href="#">MEP</a></li>
            <li><a href="#">BIM</a></li>
            <li><a href="#">LET'S SCRUM</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </nav>
    <div id="right-header">
        <a id="language" href="#">🇬🇧</a>
        <button id="mobile-navmenu-toggle">Nav</button>
    </div>
</div>
<div id="mobile-navmenu" class="navmenu-hidden">
    <nav><ul>
        <li><a href="#">MEP</a><div class="a-underline"></div></li>
        <li><a href="#">BIM</a><div class="a-underline"></div></li>
        <li><a href="#">LET'S SCRUM</a><div class="a-underline"></div></li>
        <li><a href="#">BLOG</a><div class="a-underline"></div></li>
        <li><a href="#">ABOUT US</a><div class="a-underline"></div></li>
        <li><a href="#">CONTACT</a><div class="a-underline"></div></li>
    </ul></nav>
</div>
<script src="/scripts/header.js"></script>