body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.page-start {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: block;
}
.page-start #background-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.page-start .page-logo {
  position: absolute;
  width: max(35vw, 30vh);
  background-color: transparent;
  top: 45%;
  left: 15%;
}
.page-start .page-logo img {
  width: 100%;
  height: auto;
  background-color: transparent;
}

#header {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease-in-out;
  background-color: rgba(32, 32, 32, 0.25);
  z-index: 2;
}
#header #left-header {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}
#header #left-header img {
  height: 70%;
  padding: 0 2vw;
}
#header #navbar {
  width: 50%;
  height: 100%;
  color: #c4c4c4;
}
#header #navbar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  font-family: "Krona One", sans-serif;
  margin: 0;
  padding: 0;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#header #navbar ul li {
  padding: 0 1vw;
  cursor: pointer;
}
#header #navbar ul li a {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: #c4c4c4;
  font-size: 12px;
  padding-bottom: 3vh;
}
#header #navbar ul li a:hover {
  color: #fff;
}
#header #right-header {
  margin-right: 0;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}
#header #right-header #language {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin: 0 2vw;
}
#header #right-header #mobile-navmenu-toggle {
  display: none;
}

#mobile-navmenu {
  width: 100%;
  top: 8vh;
  height: 92vh;
  background-color: rgba(32, 32, 32, 0.81);
  text-align: right;
  visibility: visible;
}
#mobile-navmenu li {
  margin-left: auto;
  padding: 3vh 2vh;
}
#mobile-navmenu li.mobile-navbar-small {
  padding: 1vh 2vh;
  font-size: 0.8em;
  color: #979797 !important;
}

.a-underline {
  width: 0;
  height: 2px;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.a-underline.show {
  width: 100%;
  background-color: rgb(25, 181, 254);
}

.navmenu {
  opacity: 100%;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  position: fixed;
  z-index: 1;
  text-align: left;
  background-color: rgba(32, 32, 32, 0.81);
  visibility: visible;
}
.navmenu ul {
  margin: 0;
  padding: 0;
  margin-right: 5vw;
  font-family: "Krona One", sans-serif;
  list-style: none;
}
.navmenu ul li {
  padding: 1vh 1vh;
  width: fit-content;
  cursor: pointer;
}
.navmenu ul li a {
  text-align: left;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.navmenu-hidden {
  opacity: 0 !important;
  transform: translateY(30%);
  visibility: hidden !important;
}

.navmenu-mobile-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

#footer .footer-content {
  background-color: white;
  color: #000;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  padding: 7vh 0;
}
#footer .footer-content ul {
  --icon-size: .8em;
  --gutter: 1em;
  padding: 0 0 0 var(--icon-size);
}
#footer .footer-content ul li {
  padding: 0.5vh;
  padding-left: var(--gutter);
}
#footer .footer-content ul li a {
  text-decoration: none;
  color: #151515;
  font-size: 0.8em;
  font-weight: 500;
  transition: color 0.3s ease;
}
#footer .footer-content ul li a:hover {
  color: #0693e3;
}
#footer .footer-content ul li::marker {
  content: "\f054"; /* FontAwesome Unicode chevron-right */
  font-family: FontAwesome;
  font-size: var(--icon-size);
}
#footer .footer-content .about-us .title, #footer .footer-content .navigation .title {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 1vh;
}
#footer .footer-content .imprint a {
  padding: none;
}
#footer .footer-content .imprint img {
  width: 16vw;
}
#footer .footer-content .imprint .map-logo::marker {
  content: "\f3c5";
}
#footer .footer-content .imprint .mail-logo::marker {
  content: "\f0e0";
}
#footer .footer-bottom {
  background-color: rgb(15, 15, 15);
  color: #fff;
  text-align: center;
  padding: 2vh 0;
  font-size: 0.8em;
}

.symbolbutton {
  background-color: transparent;
  border: none;
}

.symbols {
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .page-start .page-logo {
    left: 5%;
  }
  #header #navbar {
    display: none;
  }
  #header #right-header #mobile-navmenu-toggle {
    display: block;
    cursor: pointer;
    margin-right: 2vw;
    color: #fff;
    width: 8vh;
    font-size: 1.5em;
  }
}/*# sourceMappingURL=styles.css.map */