body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.divider {
  width: 100%;
  background-color: rgb(25, 181, 254);
  margin: 0 auto;
  height: 2px;
}

.whitespace {
  height: 40vh;
}

.small-whitespace {
  height: 20vh;
}

.hidden {
  display: none;
}

h1, h2, h3, h4 {
  font-family: "Krona One", sans-serif;
}

p {
  font-size: 1.1em;
  margin-bottom: 1vh;
}

a {
  text-decoration: underline;
  color: #000000;
}
a:hover {
  color: #303030;
  text-decoration: none;
}

a.image-source {
  text-align: center;
  display: block;
}

.big {
  font-size: 1.5em;
  font-weight: 500;
}

main.long-page {
  width: 70vw;
  margin: 0 auto;
}

.heading-holder {
  margin: 10vh auto;
  margin-bottom: 40vh;
  text-align: center;
  width: fit-content;
}
.heading-holder h1 {
  font-size: 5em;
}
.heading-holder h2 {
  font-size: 3em;
}
.heading-holder p {
  font-size: 1.5em;
  font-weight: 500;
}

.heading-holder.lefty {
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 10vh;
}
.heading-holder.lefty h1 {
  font-size: 3em;
}
.heading-holder.lefty h2 {
  font-size: 3em;
}
.heading-holder.lefty p {
  font-size: 1.5em;
  font-weight: 500;
}

.page-start {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: block;
}
.page-start #background-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.page-start .page-logo {
  position: absolute;
  width: max(35vw, 30vh);
  background-color: transparent;
  top: 40%;
  left: 15%;
}
.page-start .page-logo img {
  width: 100%;
  height: auto;
  background-color: transparent;
}
.page-start .page-logo h1 {
  font-family: "Krona One", sans-serif;
  color: #fff;
  font-size: 10em;
  margin: 0;
  margin-bottom: 0.5vw;
}
.page-start .page-logo h2 {
  font-family: "Krona One", sans-serif;
  color: #fff;
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5vw;
  margin-left: 0.8vw;
}
.page-start .page-logo .h1-desc {
  font-family: "Krona One", sans-serif;
  color: #fff;
  font-size: 2em;
  margin: 0;
  margin-left: 0.8vw;
  margin-bottom: 0.5vw;
  background-color: #000;
}
.page-start .page-logo.long {
  width: 70vw;
  top: 25%;
}
.page-start .page-logo.black h1 {
  color: #000;
}
.page-start .page-logo.black h2 {
  color: #000;
}
.page-start .page-logo.black .h1-desc {
  color: #000;
  background-color: rgba(255, 255, 255, 0.4);
}

.video-info-box {
  margin-top: 10vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.video-info-box .info-box {
  width: 30%;
  padding: 2vh 5vw;
}
.video-info-box .info-box .big {
  font-weight: 500;
  margin: 0;
  font-size: 2.5em;
}
.video-info-box .info-box .small {
  margin: 0;
  margin-top: 1vh;
  font-size: 1em;
}
.video-info-box .video-box {
  width: fit-content;
  padding: 2vh 5vw;
}
.video-info-box .video-box .yt-vid-holder {
  width: 660px;
  height: 371px;
  background-color: #999;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.4);
}
.video-info-box .video-box .yt-vid-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.video-info-box .video-box .yt-vid-holder .play-button {
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 1;
  width: 10vh;
  height: 10vh;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.video-info-box .video-box .yt-vid-holder .play-button i {
  font-size: 4vh;
  transform: translateX(10%);
}
.video-info-box .video-box .yt-vid-holder .play-button:hover {
  background-color: #E0E0E0;
  transform: scale(1.1) translate(-45%, -45%);
}
.video-info-box .video-box .yt-vid-holder .play-button:active {
  background-color: #E0E0E0;
  transform: scale(0.9) translate(-55%, -55%);
}
.video-info-box .video-box .yt-vid-holder.hide-video::before {
  content: "";
  position: absolute;
  width: 660px;
  height: 371px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  transform-origin: right;
}

#header {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 500ms ease-in-out;
  background-color: rgba(32, 32, 32, 0.35);
  z-index: 5;
}
#header #left-header {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}
#header #left-header .logo {
  height: 70%;
  padding: 0 2vw;
}
#header #left-header .logo img {
  height: 100%;
}
#header #navbar {
  width: 50%;
  height: 100%;
  color: #c4c4c4;
}
#header #navbar ul {
  list-style: none;
  width: 100%;
  height: 100%;
  font-family: "Krona One", sans-serif;
  margin: 0;
  padding: 0;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#header #navbar ul li {
  padding: 0 1vw;
}
#header #navbar ul li a {
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: #c4c4c4;
  font-size: 12px;
  padding: 0.5vh 0;
  padding-bottom: 3vh;
}
#header #navbar ul li a:hover {
  color: #fff;
}
#header #right-header {
  margin-right: 0;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: right;
  justify-content: flex-end;
}
#header #right-header #language {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin: 0 2vw;
}
#header #right-header #mobile-navmenu-toggle {
  display: none;
}

#mobile-navmenu {
  width: 100%;
  top: 8vh;
  height: 92vh;
  background-color: rgba(32, 32, 32, 0.81);
  text-align: right;
  visibility: visible;
  z-index: 5;
}
#mobile-navmenu li {
  margin-left: auto;
  padding: 3vh 2vh;
}
#mobile-navmenu li.mobile-navbar-small {
  padding: 1vh 2vh;
  font-size: 0.8em;
  color: #979797 !important;
}

ul.low-padding {
  padding-left: 1vw;
}

ul.more-v-padding li {
  padding-bottom: 2vh;
}

.a-underline {
  width: 0;
  height: 2px;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.a-underline.show {
  width: 100%;
  background-color: rgb(25, 181, 254);
}

.navmenu {
  opacity: 100%;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  position: fixed;
  z-index: 4;
  text-align: left;
  background-color: rgba(32, 32, 32, 0.75);
  visibility: visible;
}
.navmenu ul {
  margin: 0;
  padding: 0;
  margin-right: 5vw;
  font-family: "Krona One", sans-serif;
  list-style: none;
}
.navmenu ul li {
  padding: 1vh 1vh;
  width: fit-content;
}
.navmenu ul li a {
  text-align: left;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

.navmenu-hidden {
  opacity: 0 !important;
  transform: translateY(30%);
  visibility: hidden !important;
}

.navmenu-mobile-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
}

#footer {
  border-top: 0.5px solid #b9b9b9;
}
#footer #back-to-top {
  position: relative;
  left: 50%;
  top: 1vh;
  transform: translateX(-50%);
  width: 5vh;
  height: 5vh;
  background-color: #F4F4F4;
  color: #000;
  outline: none;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#footer #back-to-top:hover {
  background-color: #E0E0E0;
  transform: scale(1.1) translateX(-45%);
}
#footer #back-to-top:hover i {
  transform: scale(1.1) translateY(-25%);
}
#footer #back-to-top i {
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: 1.5em;
  transform: none;
}
#footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: top;
  flex-wrap: wrap;
  background-color: white;
  color: #000;
  height: 40vh;
  padding: 7vh 0;
}
#footer .footer-content .decorative-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
#footer .footer-content ul {
  --icon-size: .8em;
  --gutter: 1em;
  padding: 0 0 0 var(--icon-size);
}
#footer .footer-content ul li {
  padding: 0.5vh;
  padding-left: var(--gutter);
}
#footer .footer-content ul li a {
  text-decoration: none;
  color: #151515;
  font-size: 0.8em;
  font-weight: 500;
  transition: color 0.3s ease;
}
#footer .footer-content ul li a:hover {
  color: #0693e3;
}
#footer .footer-content ul li::marker {
  content: "\f054"; /* FontAwesome Unicode chevron-right */
  font-family: FontAwesome;
  font-size: var(--icon-size);
}
#footer .footer-content .about-us .title, #footer .footer-content .navigation .title {
  font-size: 0.9em;
  font-weight: 600;
  margin-bottom: 1vh;
}
#footer .footer-content .imprint li {
  padding: 1em;
}
#footer .footer-content .imprint .social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#footer .footer-content .imprint a {
  padding: 0;
}
#footer .footer-content .imprint .sm-icon i {
  font-size: 2em;
  text-decoration: none;
  color: #151515;
  transition: color 0.3s ease;
}
#footer .footer-content .imprint .sm-icon i:hover {
  color: #0693e3;
}
#footer .footer-content .imprint img {
  width: 16vw;
}
#footer .footer-content .imprint .map-logo::marker {
  content: "\f3c5";
}
#footer .footer-content .imprint .mail-logo::marker {
  content: "\f0e0";
}
#footer .footer-bottom {
  background-color: rgb(15, 15, 15);
  color: #7a7a7a;
  text-align: center;
  padding: 2vh 0;
  font-size: 0.8em;
}

.symbolbutton {
  background-color: transparent;
  border: none;
}

.symbols {
  color: #fff;
}

.large-image {
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
  margin: 2vh 0;
}
.large-image img {
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.image-gallery .image-holder {
  width: 30%;
  height: auto;
  margin: 2vh 0;
}
.image-gallery .image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-gallery.certs .image-holder {
  width: 25%;
  aspect-ratio: 30/5;
  height: auto;
  background-color: #fff;
  margin: 4vh;
}
.image-gallery.certs .image-holder img {
  object-fit: contain;
}

.image-info-box {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  height: auto;
}
.image-info-box .image-box {
  width: 47.5%;
  height: fit-content;
}
.image-info-box .image-box.multiple .image-box-child {
  margin: 2vh 0;
}
.image-info-box .image-box.multiple .image-box-child.square-small {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-info-box .image-box.multiple .image-box-child.square-small img {
  aspect-ratio: 1/1;
  width: 30%;
  height: auto;
  margin: 0 auto;
}
.image-info-box .image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image-info-box .text-box {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
}

.bias-shadow {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.largeable-image {
  position: relative;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: inherit;
}
.largeable-image:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 3;
}
.largeable-image:active {
  transform: scale(1);
}

.grid.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.grid.of-2 .grid-half {
  width: calc(90% / 2);
}
.grid.of-3 .grid-half {
  width: calc(90% / 3);
}
.grid.of-4 .grid-half {
  width: calc(90% / 4);
}
.grid.of-5 .grid-half {
  width: calc(90% / 5);
}
.grid.of-6 .grid-half {
  width: calc(90% / 6);
}
.grid.of-7 .grid-half {
  width: calc(90% / 7);
}
.grid.of-8 .grid-half {
  width: calc(90% / 8);
}
.grid.of-9 .grid-half {
  width: calc(90% / 9);
}
.grid.of-10 .grid-half {
  width: calc(90% / 10);
}

.staff {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.staff .staff-info img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}
.staff .staff-info .staff-name {
  font-size: 1.1em;
  font-weight: 600;
}
.staff .staff-info .staff-title {
  font-size: 0.8em;
  font-weight: 500;
  color: #0693e3;
}
.staff .staff-info .staff-description {
  line-height: 1.3;
  height: auto;
}
.staff .staff-end {
  margin-top: auto;
}
.staff .staff-end .sm-icon {
  width: fit-content;
}
.staff .staff-end .sm-icon i {
  font-size: 1.5em;
  text-decoration: none;
  color: #151515;
  transition: color 0.3s ease;
  margin-top: 1vh;
}
.staff .staff-end .sm-icon i:hover {
  color: #0693e3;
}

.founder-info img {
  width: 319px;
  height: 423px;
}
.founder-info img.alignleft {
  float: left;
  margin-right: 20px;
}
.founder-info p {
  margin-bottom: 20px;
}

.loading-bar {
  width: 100%;
  height: var(--my-height);
  background-color: #DDDDDD;
  border-radius: calc(var(--my-height) / 2);
}
.loading-bar .loading-bar-child {
  background-color: #0070C9;
  height: 100%;
  width: var(--my-percentage);
  border-radius: calc(var(--my-height) / 2);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.loading-bar .loading-bar-child p {
  text-align: right;
  padding-right: 1vw;
  font-size: calc(var(--my-height) * 0.75);
  margin: 0;
  color: #fff;
  font-weight: 600;
}

.scroll-effect {
  opacity: 0;
  transform: translateY(20%);
  transition: all 500ms ease-in-out;
}

.yt-vid-holder.scroll-effect {
  transform: scaleX(0);
  transform-origin: left;
  transition: all 500ms ease-in-out;
}

.yt-vid-holder.show {
  transform: scaleX(1) !important;
}

.yt-vid-holder.unhide-video::before {
  transform: scaleX(0);
  transition: all 500ms ease-in-out;
}

.show {
  opacity: 100%;
  transform: translateY(0%);
}

.larged-image {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 300ms ease-in-out;
  transform: scale(0.9);
  opacity: 0;
  z-index: 10;
  visibility: hidden;
}
.larged-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.larged-image button {
  position: absolute;
  top: 2vh;
  right: 2vh;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.larged-image button:hover {
  transform: scale(1.1);
}
.larged-image button:active {
  transform: scale(0.9);
}
.larged-image.show {
  opacity: 100%;
  z-index: 10;
  visibility: visible;
  transform: scale(1);
}

@media only screen and (max-width: 1000px) {
  .video-info-box {
    flex-direction: column;
  }
  .video-info-box .info-box {
    padding: 2vh 0;
    text-align: center;
    width: 100%;
  }
  .video-info-box .info-box .big {
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  .video-info-box .info-box .small {
    margin: 0;
    padding: 0;
  }
  .video-info-box .video-box {
    width: 100%;
    padding: 2vh 0;
    text-align: center;
  }
  .video-info-box .video-box .yt-vid-holder {
    aspect-ratio: 660/371;
    margin: 0 auto;
    position: relative;
    width: auto;
    height: 50.5909090909vw;
    box-sizing: border-box;
  }
  .video-info-box .video-box .yt-vid-holder img {
    aspect-ratio: 660/371;
    width: 90vw;
    height: 100% !important;
  }
  .video-info-box .video-box .yt-vid-holder iframe {
    width: 100%;
    height: 100%;
  }
  .video-info-box .video-box .yt-vid-holder .play-button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  .video-info-box .video-box .yt-vid-holder.hide-video::before {
    width: 90vw;
    height: 50.5909090909vw;
  }
  .page-start .page-logo {
    left: 5%;
  }
  #header #navbar {
    display: none;
  }
  #header #right-header #mobile-navmenu-toggle {
    display: block;
    cursor: pointer;
    margin-right: 2vw;
    color: #fff;
    width: 8vh;
    font-size: 1.5em;
  }
  #footer .footer-content {
    flex-direction: column;
    height: auto;
  }
  #footer .footer-content ul {
    width: 50%;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
  }
  #footer .footer-content ul li {
    padding: 2vh;
    font-size: 1em;
  }
  #footer .footer-content .decorative-image {
    display: none;
  }
  #footer .footer-content .title {
    text-align: center;
    display: block;
    font-size: 1.4em;
  }
  #footer .footer-content .imprint {
    margin-top: 3vh;
  }
  #footer .footer-content .imprint .logowrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #footer .footer-content .imprint .logowrapper .logo {
    width: 90vw;
    margin: 0 auto;
  }
  #footer .footer-content .imprint ul {
    width: 70vw;
  }
  #footer .footer-content .imprint .social-media {
    margin-top: 2vh;
    justify-content: space-around;
  }
  main.long-page {
    width: 95vw;
  }
  .heading-holder, .heading-holder.lefty {
    text-align: center;
  }
  .heading-holder h1, .heading-holder.lefty h1 {
    font-size: 2em;
  }
  .heading-holder h2, .heading-holder.lefty h2 {
    font-size: 2em;
  }
  .image-gallery {
    flex-direction: column;
  }
  .image-gallery .image-holder {
    width: 100%;
  }
  .image-info-box {
    flex-direction: column;
  }
  .image-info-box .image-box {
    width: 100%;
  }
  .image-info-box .text-box {
    width: 100%;
  }
  ul.low-padding {
    padding-left: 2vw;
  }
  .founder-info .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .founder-info img {
    width: 90vw;
    height: auto;
    margin: 0 auto;
    padding: 0;
    padding: 0;
  }
  .founder-info img.alignleft {
    float: none;
    margin: 0;
  }
  .heading-holder.lefty {
    width: 90vw;
    margin: 0 auto;
  }
  .grid.horizontal {
    flex-direction: column;
  }
  .grid.horizontal .grid-half {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */